*.com
*.class
*.o
*.so
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.suo
*.user
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
**/packages/*
AgentNNM/AgentNNM/bin/Debug/config.json
ServiceNNM/ServiceNNM/bin/Debug/config.json
AgentNNM_for_old_3.5_framework/AgentNNM/bin/Debug/config.json
WebNNM/config.json
WebNNM/node_modules/