[Unit]
Description=WEBNNMD
After=network.target

[Service]
Type=forking
User=root
WorkingDirectory=/samba/public/nnm/ruby-webnnmd/
PIDFile=/samba/public/nnm/ruby-webnnmd/puma.pid
ExecStart=/usr/local/rvm/gems/ruby-2.2.1/bin/puma -C /samba/public/nnm/ruby-webnnmd/config_puma.rb
ExecStop=/bin/kill -9 $MAINPID
ExecRestart=/bin/kill -HUP $MAINPID
TimeoutSec=60

[Install]
WantedBy=multi-user.target