.worked {
  background: none repeat scroll 0 0 green;
}
.stopped {
  background: none repeat scroll 0 0 red;
}
.notexist {
  background:  none repeat scroll 0 0 plum;
}
.stopped, .worked, .notexist {
    border-radius: 2px;
    display: inline-block;
    height: 10px;
    margin-right: 0.5em;
    width: 10px;
}

.panel {
  margin-top: 10px;
}

input.ng-invalid {
  border: 1px solid red;
}

.form-inline {
  padding: 10px;
}

button#agentList{
  width: 250px;
}