<form action="/new/subscriber" role="form" name="add_subscriber_form" id="add_subscriber" method="POST" class="navbar-form navbar-left">
  <div class="form-subscriber">
    <input type="text" class="form-control single-text" name="subscriber_email" placeholder="Мыло подписчика">
  </div>
  <button type="submit" class="btn btn-default">Добавить</button>
</form>
<table class="table subscribers_table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
  <% subscribers.forEach(function (s) { %>
    <tr id="<%= s.id %>">
    <td>
      <div id="email" class="edit-subscriber-email" data-type="text" data-pk="<%= s.id %>" data-url="/edit/subscribers" data-title="Введите email"><%= s.email %></div>
    </td>
    <td>
      <span class="delete delete-subscriber" id="<%= s.id %>">X</span>
    </td>
    </tr>
  <% }) %>
  </tbody>
</table>