{
    "user": "sa",
    "password": "qwerty123",
    "server": "NETBIOSNAME",
    "driver": "tedious",
    "database": "noname_network_monitor",
    "options": {
        "instanceName": "SQLEXPRESS"
    },
    "path_to_servicennm_config": "../ServiceNNM/config.json"
}