<!-- Панель с выбором дат и времени -->
<div class="panel panel-default">
  <div class="panel-body">
  <select class="form-control input-sm" id="this-host"></select> 
    <div class="form-group"><div class="col-md-1"><input class="form-control" type="text" placeholder="Дата начала" id="start_period"><select class="form-control input-sm form-inline" id="time_from"></select></div>
    <div class="col-md-1"><input class="form-control" type="text" placeholder="Сегодня?" id="end_period"><select class="form-control input-sm form-inline" id="time_to"></select></div></div>
    <a href="#" class="btn btn-default" id="this-host-btn">Го</a>
  </div>
</div>
<!-- Конец панели -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Индивидуальная статистика для хоста</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>