<!DOCTYPE html>
<html lang="ru">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="public/js/jquery.min.js"></script>
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <!-- morrisjs -->
    <link rel="stylesheet" href="public/css/morris.css">
    <script src="public/js/raphael-min.js"></script>
    <script src="public/js/morris.min.js"></script>
    <!-- morrisjs -->
    <link rel="stylesheet" href="public/css/jquery-ui.css" />
	<script src="public/js/jquery-ui.min.js"></script>
    <script src="/public/js/string.min.js"></script>

    <script src="/public/js/strftime-min.js"></script>
    
    <script src="public/js/bootstrap.min.js"></script>
    <!-- для редактирования на месте -->
    <!-- select2 --> 
    <link href="public/css/select2.css" rel="stylesheet">
    <script src="public/js/select2.js"></script>         
    <!-- poshytip -->
    <link href="public/css/tip-yellowsimple.css" rel="stylesheet">
    <script src="public/js/jquery.poshytip.js"></script>
    <!-- x-editable (jquery) -->
    <link href="public/css/jquery-editable.css" rel="stylesheet">
    <script src="public/js/jquery-editable-poshytip.js"></script>
    <!-- функционалка -->
    <script src="public/js/underscore-min.js"></script>
    <script type="text/javascript" src="public/js/jq.datepicker.ru.js"></script>
    <!-- это собственный скрипт -->
    <link href="public/css/custom.css" rel="stylesheet">
  	<script src="public/js/custom.js"></script>
    <title>Web-interface network monitor</title>
	</head>
	<body>
    <div class="container-fluid">
    <div class="row">
    <!-- Навигация -->
    <div class="col-md-12">
      <!-- flash -->
      <div id="flash"></div>
      <!-- /flash -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#dictionaries" data-toggle="tab">Справочники</a></li>
        <li><a href="#statistics" data-toggle="tab" id="stat_link">Последние данные</a></li>
        <li><a href="#only-for-this-host-statistics" data-toggle="tab" id="individual-stat">Статистика для хоста</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="dictionaries"></div>
        <div class="tab-pane active" id="statistics">
          
        </div>
        <div class="tab-pane active" id="only-for-this-host-statistics"></div>
      </div>
    </div>
	  <%- body %>
  </div>
</div>
</body>
</html>